.searchResults__result {
	margin-bottom: 2em;
	float: left;
	text-align: left;
    overflow: auto;
    word-wrap: break-word;
    vertical-align: bottom;
    border:0;
	padding-left: 0;
}

.results_section  {
	padding: 20px;
}

.result_img {
	padding: 0;
}

.resultLabel {
  vertical-align: top;
}


.searchResults__result img {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 0;
	width: auto;
	height: auto;
  vertical-align: bottom;
}

.checkboxLabel {
	width: 100%;	
}

.list-group-item {
	padding-left: 0;
	padding-right: 0;
}

.checkbox {
	width: 100%;
}

.result_img {
	max-width: 200px;
	max-height: 200px;
}

@media only screen and (max-width: 500px) {
	.pagelabel {
		font-size: 1em;
	}
}

@media only screen and (max-width: 420px) {
	.pagelabel {
		display: none;
		font-size: 1em;
	}
	#searchBox {
		margin-left: 2em;
	}
}
