.searchResults__result {
	min-height: 200px;
	float: left;
	text-align: left;
    overflow: auto;
    word-wrap: break-word;
    vertical-align: bottom;
    border:0;
}

.resultLabel {
  vertical-align: top;
}


.searchResults__result img {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 70%;
	max-height: 70%;
	width: auto;
	height: auto;
  vertical-align: bottom;
}

